<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CA3AEEA2B4812630011B8D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CA3AF002B4812640011B8D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CA3AF0A2B4812650011B8D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
